/**
 * @file
 * Customization for Dual
 *
 */

@import "base";

//
// Parent site-header related styles.
//
//

/* ****************************************************
                Small 0 -> 801px
**************************************************** */

@media all and (max-width: 801px) {

	.western-header .western-logo a { margin-bottom:0; }

	.parent-site-header {
		@include zen-grid-item(1,1,left);
		margin:0;
		a p { margin:0; }
	}
}

/* ****************************************************
                Screens 801px ->
**************************************************** */

@media all and (min-width: 801px) {

	header[role="banner"] > div { max-height:270px; }

	.site-header .site-banner {
		overflow:hidden;
		max-height:138px;
	}

	.parent-site-header {
		margin-bottom:10px;
		a p { margin: 0 0 0 260px; }
	}
}

/* ****************************************************
                General Styles
**************************************************** */

.parent-site-header {
	height:34px;
	background-color:$wwuLime;
	width:100%;
	a {
		color:$wwuGreen;
		display:block;
		@include transition(.1s);
		&:hover, &:active, &:focus {
			@include transition(.5s);
			text-decoration:none;
			color:$wwuBlue;
		}
		p {
			line-height: 34px;
			text-transform:uppercase;
		}
	}
}